body {}
h1 {
    text-align: center;
    font-size: 110%;
}
h2.title {
    text-align: center;
    font-size: 80%;
    font-style: italic;
}
p {
    text-align: justify;
    font-size: 100%;
}
i.verse {
    font-style: normal;
    font-size: 50%;
    vertical-align: super;
}
